/* Animation style */

.wrapper {
    position: relative;
    z-index: -999;

    height: 350px;
    width: 350px;
    margin: 0 auto;

    border: 1px solid black;
    background-color: #fcf8bb;
}

.pineapple {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;

    height: 180px;
    width: 140px;
    margin: auto;

    border-radius: 65px;
    background-color: #ffaa00;
    background-image: repeating-linear-gradient(
        135deg,
        transparent 0,
        transparent 40px,
        #ff9700 40px,
        #ff9700 52px
    ),
    repeating-linear-gradient(
        45deg,
        transparent 0,
        transparent 40px,
        #ff9700 40px,
        #ff9700 52px
    );
    background-size: 200% 200%;
    background-position: 0 17px;

    animation: jump 0.5s infinite;
}

@keyframes jump {
    50% {
        top: 95px;
    }
}

.pineapple::before,
.pineapple::after {
    position: absolute;
    content: "";
    z-index: -1;

    height: 80px;
    width: 32px;

    background-color: #ffaa00;
    border-radius: 25px;

    transform-origin: bottom;
}

.pineapple::before {
    left: 10px;
    transform: rotate(-50deg);
    animation: hand-left 0.5s infinite;
}

@keyframes hand-left {
    50% {
        transform: rotate(-42deg);
    }
}

.pineapple::after {
    right: 10px;
    transform: rotate(50deg);
    animation: hand-right 0.5s infinite;
}

@keyframes hand-right {
    50% {
        transform: rotate(42deg);
    }
}

.leaf {
    position: absolute;
    top: -65px;
    left: 0;
    right: 0;
    z-index: -1;

    height: 70px;
    width: 70px;
    margin: auto;

    background-color: #498725;
    border-radius: 70px 0;

    transform: rotate(135deg);
    animation: leaves 0.5s infinite;
}

@keyframes leaves {
    50% {
        transform: rotate(135deg) translate(6px, -6px);
    }
}

.leaf::before,
.leaf::after {
    position: absolute;
    content: "";
    top: -5px;

    height: 70px;
    width: 70px;

    background-color: #3f6b15;
    border-radius: 70px 0;

    transform-origin: right;
}

.leaf::before {
    left: 20px;

    transform: rotate(-40deg);
    animation: leaf-left 0.5s infinite;
}

@keyframes leaf-left {
    50% {
        transform: rotate(-32deg);
    }
}

.leaf::after {
    right: 20px;

    transform: rotate(40deg);
    animation: leaf-right 0.5s infinite;
}

@keyframes leaf-right {
    50% {
        transform: rotate(32deg);
    }
}

.leg-left,
.leg-right {
    position: absolute;
    top: 130px;
    z-index: -1;

    height: 80px;
    width: 32px;

    background-color: #ffaa00;
    border-radius: 25px;
}

.leg-left {
    left: 22px;
    animation: legs 0.6s 0.3s infinite;
}

.leg-right {
    right: 22px;
    animation: legs 0.6s infinite;
}

@keyframes legs {
    50% {
        transform: translateY(-15px);
    }
}

.eye-left,
.eye-right {
    position: absolute;
    top: 70px;

    height: 24px;
    width: 24px;

    background-color: #1e1e1e;
    border-radius: 50%;

    animation: blink 1s infinite;
}

.eye-left {
    left: 32px;
}

.eye-right {
    right: 32px;
}

@keyframes blink {
    20% {
        transform: scaleY(0.3);
    }
    25% {
        transform: scaleY(1);
    }
}

.mouth {
    position: absolute;
    top: 105px;
    left: 0;
    right: 0;

    height: 20px;
    width: 35px;
    margin: auto;

    background-color: #1e1e1e;
    border-radius: 0 0 35px 35px;
}

.shadow {
    position: absolute;
    top: 290px;
    left: 0;
    right: 0;
    z-index: -2;

    height: 30px;
    width: 160px;
    margin: auto;

    border-radius: 50%;
    background-color: rgba(30, 30, 30, 0.05);

    animation: shadow 0.5s infinite;
}

@keyframes shadow {
    50% {
        transform: scaleX(0.85);
    }
}

/* Page style */

:root {
    --primary-color: #B05AF1;
    --secondary-color: #3DE7FE;
    --light-color: #FFFFFF;
    --dark-color: #1B2D3A;
  
    --bold-text: 900;
    --normal-text: 400;
  
    --logo-size: 75px;
  }

body {
    font-family: 'Rubik', sans-serif;
    background-color: var(--dark-color);
}

.header {
    width: 100%;
    min-height: 20px;
    padding: 5px 30px;

    background-image: linear-gradient(var(--secondary-color), var(--primary-color));
}

.animation {
    color: var(--light-color);
    text-align: center;
}

.animation__title {
    margin-bottom: 16px;

    font-size: 48px;
}

.animation__text {
    margin-top: 0;
    margin-bottom: 40px;

    font-size: 20px;
}

.header__link {
    display: flex;
    max-width: 200px;

    color: var(--bold-text);
    font-size: 22px;
    line-height: 28px;
    font-weight: var(--bold-text);
    text-decoration: none;
}

.header__arrow {
    position: relative;

    width: 30px;
    height: 4px;
    margin-top: 12px;
    margin-right: 10px;

    background-color: var(--dark-color);
}

.header__arrow::before {
    position: absolute;
    content: "";
    top: -8px;
    left: -15px;

    border-style: solid;
    border-width: 10px 20px 10px 0;
    border-color: transparent var(--dark-color) transparent transparent;
}

.header__link:hover .header__text,
.header__link:focus .header__text {
    color: var(--light-color);
}

.header__link:hover .header__arrow,
.header__link:focus .header__arrow  {
    background-color: var(--light-color);
}

.header__link:hover .header__arrow::before,
.header__link:focus .header__arrow::before  {
    border-color: transparent var(--light-color) transparent transparent;
}

.header__link:active {
    border-color: var(--dark-color);
}

.code__title {
    text-align: center;
    color: var(--light-color);
    font-size: 24px;
}

.code__info {
    margin-top: 40px;
}

.code__text {
    margin: 0 120px;
    padding: 40px;

    background-color: var(--light-color);
}